.card {
    background-color: #202020;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s ease-in;

}

.card:hover {
    transform: scale(1.20);
}

.image {
    width: 100%;
    height: 190px;
    object-fit: cover;
}

.cardBody {
    padding: 15px;

}

.headingContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.score {
    color: #6dc849;
    border: 1px solid #6dc849;
    padding: 2px 8px;
    border-radius: 4px;
    font-weight: bold;
}