/* src/components/GameGrid.css */
.game-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
  padding: 20px;
  width: 100%;
  box-sizing: border-box; 

}

.load-more-btn {
  border-color: aqua;
  align-items: center;
  margin-left: 25px;
  margin-bottom: 5px;
  
  
}